# Export those values in your system to connect with Swift client to your object storage

OS_AUTH_URL=<VALUE>
OS_INTERFACE=<VALUE>
OS_IDENTITY_API_VERSION=<VALUE>
OS_PROJECT_DOMAIN_NAME=<VALUE>
OS_PROJECT_ID=<VALUE>
OS_PROJECT_NAME=<VALUE>
OS_TENANT_NAME=<VALUE>
OS_USER_DOMAIN_NAME=<VALUE>
OS_PROJECT_DOMAIN_ID=<VALUE>
OS_USERNAME=<VALUE>
OS_PASSWORD=<VALUE>
OS_REGION_NAME=<VALUE>